body {
  font-family: 'Andika', sans-serif;
}
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.main {
  padding-top: 3rem;
  background-image: url(../img/bg1.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
}
.main .nav {
  width: 100px;
  overflow-x: visible;
  height: 100vh;
  z-index: 1;
  position: fixed;
  background: rgba(34, 65, 93, 0.9);
  transition: .3s;
  display: block;
}
.main .nav a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  display: block;
  font-family: source sans pro;
  padding: 1em 0;
  transition: .3s;
  clear: right;
}
.main .nav .close {
  float: right;
  margin: 1em 0 0 1em;
}
.main .nav a:not(:first-child):hover {
  background: #b37020;
}
.main .open {
  color: #fff;
  font-size: 30px;
  float: right;
  display: block;
  margin: 0em 0 0 2em;
  cursor: pointer;
}
.main h1 {
  margin-top: 10rem;
  text-align: center;
  font-size: 35px;
  color: white;
}
.main p {
  margin-top: 3rem;
  text-align: center;
  color: white;
  font-size: 18px;
}
.main .main-button {
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}
.main .main-button a {
  color: white;
  border: 1.5px solid #7D9DD4;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 15px;
}
.main .main-button a:hover {
  text-decoration: none;
}
.main .logo img {
  width: 100px;
  height: 100px;
}
.featured {
  -webkit-box-shadow: 0 6px 4px -8px;
  -moz-box-shadow: 0 6px 4px -8px;
  box-shadow: 0 6px 10px -8px;
  text-align: center;
}
.featured h2 {
  font-size: 30px;
  margin-bottom: 5rem;
  color: #7D9DD4;
  text-transform: uppercase;
}
.featured p {
  font-size: 14px;
  line-height: 30px;
  color: #7D9DD4;
  margin-bottom: 5rem;
}
.featured .main-button {
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}
.featured .main-button a {
  color: #7D9DD4;
  border: 1px solid 	;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 15px;
}
.featured .main-button a:hover {
  text-decoration: none;
}
.border img {
  width: 100%;
}
.products {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.products a:hover {
  text-decoration: none;
}
.products h2 {
  margin-bottom: 5rem;
  color: #7D9DD4 ;
}
.products p {
  color: #7D9DD4;
  font-size: 24px;
}
.products h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #7D9DD4;
}
@media (max-width: 765px) {
  .localization {
    text-align: center;
    margin-top: 3rem;
  }
  .contacts .maps {
    max-width: 50px;
  }
  .footer img {
    margin-top: 2rem;
  }
  .footer .logo {
    text-align: center;
  }
  .contacts .map {
    margin-bottom: 3rem;
  }
  .contacts .col-lg-6 p {
    text-align: center;
  }
  .feedback .st {
    margin-bottom: 4rem;
  }
  .main .logo {
    text-align: center;
  }
  .products .col-lg-4 {
    margin-bottom: 4rem;
  }
  .products .col-lg-4 a {
    margin-bottom: 4rem;
  }
}
@media (max-width: 991px) {
  .products .col-lg-4 {
    margin-bottom: 4rem;
  }
  .footer img {
    display: inline-block;
  }
}
.features {
  background-color: #7D9DD4;
  text-transform: uppercase;
}
.features h2 {
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 18px;
  color: #fff;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
  max-width: 50px;
}
.features .slick-active {
  outline: none;
}
.features .arrow {
  top: 15%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.features .prev {
  left: 0;
  background: url(../img/left.png) center no-repeat;
  background-size: 70%;
}
.features .next {
  right: 0;
  background: url(../img/right.png) center no-repeat;
  background-size: 70%;
}
.reviews p {
  color: black;
}
.reviews h2 {
  text-align: center;
  text-transform: uppercase;
  color: #7D9DD4;
}
.reviews img {
  max-width: 150px;
  float: left;
}
.reviews h3 {
  font-size: 18px;
  display: inline-block;
}
.reviews .feedback-slider {
  border: 1px solid black;
}
.reviews .prev {
  left: 0;
  background: url(../img/left.png) center no-repeat;
  background-size: 70%;
}
.reviews .next {
  right: 0;
  background: url(../img/right.png) center no-repeat;
  background-size: 70%;
}
.contacts {
  text-align: center;
}
.contacts span {
  color: #fff;
}
.contacts h2 {
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: #7D9DD4;
}
.contacts p {
  text-align: left;
  color: black;
  font-size: 13px;
  line-height: 3rem;
}
.footer {
  color: #fff;
  background-color: #7D9DD4;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer .soc {
  text-align: center;
}
.footer .soc img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 1rem;
}
.feedback {
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  text-align: center;
  background-color: #fff;
}
.feedback h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 5rem;
  color: #7D9DD4;
}
.feedback img {
  max-width: 100px;
  margin-bottom: 1.5rem;
}
.feedback h4 {
  color: #7D9DD4;
}
.feedback p {
  padding: 2rem 2rem 0rem 2rem;
  font-size: 14px;
  color: black;
}
.howto-inner h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
.howto-inner p {
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.howto-inner .main-button {
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}
.howto-inner .main-button a {
  color: white;
  border: 1.5px solid white;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 15px;
}
.howto-inner .main-button a:hover {
  text-decoration: none;
}
/* start parallax */
.howto {
  background: url(../img/bg.png) fixed;
}
.localization .en {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
  border-radius: 5px;
  border: 1px solid white;
  display: inline;
  text-decoration: none;
}
.localization .en a {
  color: #fff;
}
.localization .en a:hover {
  text-decoration: none;
}
.localization .ru {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
  border: 1px solid white;
  display: inline;
  text-decoration: none;
}
.localization .ru a {
  color: #fff;
}
.localization .ru a:hover {
  text-decoration: none;
}
